<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mkw.pimatic</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>489391AD-A7B2-4F80-B7CA-2D0D55651E38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C615E78-426C-450D-9F81-9C50977FB163</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A9A81589-13F8-44E9-BFB5-B0FC2F93DB2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>489391AD-A7B2-4F80-B7CA-2D0D55651E38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sven Mischkewitz</string>
	<key>description</key>
	<string>Toggle your devices.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pimatic</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node --harmony --harmony_arrow_functions main.js toggle-device "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>489391AD-A7B2-4F80-B7CA-2D0D55651E38</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pimatic</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6C615E78-426C-450D-9F81-9C50977FB163</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pimatic</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading devices...</string>
				<key>script</key>
				<string>/usr/local/bin/node --harmony --harmony_arrow_functions main.js list-devices</string>
				<key>subtext</key>
				<string>Toggle your devices</string>
				<key>title</key>
				<string>Pimatic Home Control</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A9A81589-13F8-44E9-BFB5-B0FC2F93DB2C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>489391AD-A7B2-4F80-B7CA-2D0D55651E38</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>6C615E78-426C-450D-9F81-9C50977FB163</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>A9A81589-13F8-44E9-BFB5-B0FC2F93DB2C</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/mischkew</string>
</dict>
</plist>
